---
layout: page
title: 将材柳裟
---
{% include JB/setup %}

<div class="posts">
    <div class="posts-item">
        {% for post in site.posts limit:20 %}
        <article class="post">
            <div class="meta">
                <div class="date">
                    <time datetime='{{ post.date | date_to_utc | date: "%Y-%m-%d" }}' data-updated="true" itemprop="datePublished">{{ post.date | date_to_utc | date: "%Y-%m-%d" }}</time>
                </div>
                {% unless post.tags == empty %}
                <div class="tags">
                    {% assign tags_list = post.tags %}
                    {% include JB/tags_list %}
                </div>
                {% endunless %}
            </div>
            <h1 class="title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="markdown-body">
                {{ post.content }}
            </div>
            {% if post.description %}
            <div class="entry-content hide">
                <p>{{ post.description }}</p>
                <a href="{{post.url}}" class="more-link">Continue Reading &rarr;</a>
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
</div>