<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="{{ ASSET_PATH }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
      <link href="{{ ASSET_PATH }}/stylesheets/gfm.css" media="screen, projection" rel="stylesheet" type="text/css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

    <!-- start -->
    <div class="container">
        <div class="left-col">
            <div class="intrude-less">
                <header id="header" class="inner">
                    <div class="profilepic">
                        <img src='https://0.gravatar.com/avatar/372a13c579567ea98cafb3030289b63d?d=https%3A%2F%2Fidenticons.github.com%2Fffce3aba86b100da21f2295272398204.png&s=160' alt='Profile Picture' style='width: 160px;'>
                    </div>
                    <h1><a href="/">将材柳裟</a></h1>
                    <p class="subtitle"></p>
                    <nav id="main-nav">
                        <ul class="main">
                            <li><a href="/">博客</a></li>
                            <li><a href="/archive.html">文章列表</a></li>
                            <li><a href="/lab.html">实验室</a></li>
                        </ul>

                        <section class="aboutme">
                            <p>
                                技术宅拯救世界。
                            </p>
                        </section>
                    </nav>
                    <nav id="sub-nav">
                        <div class="social">
                            <a class="google" href="https://plus.google.com/109764126807838271120?rel=author" title="Google+">Google+</a>
                            <a class="twitter" href="http://twitter.com/leostatic" title="Twitter">Twitter</a>
                            <a class="github" href="https://github.com/shashankmehta" title="GitHub">GitHub</a>
                            <a class="rss" href="http://feeds.feedburner.com/shashankmehta" title="RSS">RSS</a>
                        </div>
                    </nav>
                </header>
            </div>
        </div>

        <div class="mid-col">
            <div class="mid-col-container">
                <div id="content" class="inner">
                        {{ content }}
                    <!--
                    <nav id="pagenavi">
                        <a href="/blog/page/2/" class="next">Next</a>
                        <div class="center"><a href="/blog/archives">Blog Archives</a></div>
                    </nav>
                    -->
                </div>
            </div>
            <footer id="footer" class="inner">
                Copyright &copy; 2013 superRaytin
                Powered by <a href="http://jekyllbootstrap.com">Jekyll</a>
                Design from <a href="http://shashankmehta.in/archive/2012/greyshade.html">Greyshade</a>
            </footer>
            <script src="{{ ASSET_PATH }}/javascripts/slash.js"></script>
            <script src="{{ ASSET_PATH }}/javascripts/jquery.fancybox.pack.js"></script>
            <script src="{{ ASSET_PATH }}/javascripts/common.js"></script>
        </div>
    </div>
    <!-- end -->
    {% include JB/analytics %}
  </body>
</html>